/**
* @name kot theme
* @version 1
* @description test
* @author kot-pl
* @invite 0
* @source kot-pl.github.io
*/
#app-mount{
    opacity: 0.85;
}
body{
    background-image: url(https://w.wallhaven.cc/full/2y/wallhaven-2ymww9.png);
    background-size: cover;
    background-attachment: fixed;
}
.theme-dark{
    --background-accent: rgb(113, 97, 155);
    --background-primary: var(--bg-surface-overlay);
    --background-secondary: var(--bg-surface-overlay);
    --background-secondary-alt: var(--bg-surface-overlay);
    --background-floating: var(--bg-surface-overlay);
    --background-tertiary: var(--bg-surface-overlay);
    --bg-base-primary: var(--bg-surface-overlay);
    --home-background: none;
    --background-mentioned: rgba(139, 97, 155, 0.247);
    --background-mentioned-hover: rgba(139, 97, 155, 0.247);
    --background-message-highlight: rgba(139, 97, 155, 0.247);
    --button-secondary-background: var(--brand-500);
    --button-secondary-background-hover: var(--brand-560);
    --button-secondary-background-active: var(--brand-600);
    --badge-brand-text:rgb(155, 97, 150);
    --info-warning-foreground: var(--brand-500);
    --shadow-high: 0 0 2px black;
    --header-primary: rgb(155, 97, 150);
    --interactive-active: rgb(155, 97, 150);
    --text-brand: rgb(145, 97, 155);
    --text-link: rgb(220, 151, 226);
    --text-muted: rgb(153, 97, 155);
    --status-danger: rgb(194, 105, 194);
    --menu-item-default-active-bg: var(--background-modifier-selected);
    --menu-item-default-hover-bg: var(--background-modifier-hover);
    --mention-foreground: var(--text-normal);
    --mention-background: var(--brand-15a);
    --brand-260: white;
    --brand-400: rgb(176, 105, 194);
    --brand-15a: rgba(179, 105, 194, 0.43);
    --brand-500: rgb(143, 97, 155);
    --brand-560: rgba(194, 105, 172, 0.43);
    --brand-600: rgb(201, 113, 204);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(128, 128, 128, 0.247)!important;
}
/*win buttons*/
div[class^="typeWindows_"][class*="withFrame_"]{
    height: 30px!important;
    margin-top: 0;
}
div[class^="winButton"]{
    padding: 10px;
}
/*popoup fix*/
div[class^="recentMentionsPopout_"],
div[class^="messagesPopoutWrap_"]{
	max-height: 80vh!important;
}
/*unread balls*/
[class^="containerDefault_"]>[class^="iconVisibility_"]>[class^="unread_"]{
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    top: 9px;
    left: 7px;
    background: linear-gradient(0deg,#616161,#686767 36%,#616161 42%,#868686 70%);
    z-index: 1;
}
div[class^="replyBar_"]{
    background: var(--brand-500);
}
/*activity memberlist*/
div[data-list-item-id^="members-"]>div[class^="container_"],
h3[class^="membersGroup_"]:has([class^="headerContainer"]){
    display: none;
}
