@import "https://fonts.googleapis.com/css2?family=Mooli&display=swap";
.theme-dark{
    --background-primary: #100f15;
    --background-secondary: #17171c;
    --background-secondary-alt: #17171c;
    --background-tertiary: #100f15;
    --background-floating: #17171c;
    --autocomplete-bg: #17171c;
    --channeltextarea-background: #17171c;
    --modal-background: #17171c;
    --card-secondary-bg: #17171c;
    --bg-mod-faint: #17171c;
    --text-link: #e04d79;
    --text-positive:#e04d79; 
    --scrollbar-auto-thumb: #931c40;
    --scrollbar-thin-thumb: #931c40;
    --status-danger: #931c40;
    --mention-background: #931c40;
    --brand-260: #931c40;
    --brand-400: #931c40;
    --brand-500: #931c40;
    --brand-560: #931c4098;
    --brand-600: #931c40;
    --control-brand-foreground-new: #931c40;
    --badge-brand-text: white;
    --text-brand: #e04d79;
    --mention-foreground: white;
    --home-background: transparent;
    --scrollbar-auto-track: transparent;
    --shadow-ledge: transparent;
    --bg-base-primary: transparent;
    --modal-footer-background: transparent;
    --control-brand-foreground: #931c40;
    --background-accent: #931c40;
    --background-modifier-active: #931c40;
    --background-modifier-hover: #931c4098;
    --background-modifier-selected: #931c40;
    --menu-item-default-active-bg: #931c4098;
    --font-primary: Mooli;
}
[class*="withFrame_"]{
    height: 0;
}
[class^="wordmarkWindows_"],
[class*="mentioned_"]::before,
[class*="replying_"]::before{
    display: none;
}
[class^="markup_"] code{
    border: transparent;
}
[class*="winButton"]{
    padding: 10px;
    margin-top: 5px;
}
[class^="upperContainer_"]>[class^="children_"]{
    -webkit-app-region: drag;
}
[class^="upperContainer_"]>[class^="toolbar_"],
[class^="chatIcon_"]{
    margin-right: 140px;
}
[data-list-item-id^="chat-messages"]>[class^="contents_"],
[data-list-item-id^="chat-messages"]>[id^="message-accessories-"]{
    background: #17171c;
    border-radius: 8px;
    max-width: max-content;
    margin-top: 5px;
    padding: 10px!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
[class^="chat_"]>[class^="content_"]>[class^="container_"],
[class^="membersWrap_"]>[class^="members_"]{
    border-top-left-radius: 20px!important;
}
[class^="sidebar_"]{
    border-radius: 0!important;
}
[class^="message_"][class*="mentioned_"],
[class^="message_"][class*="replying_"]{
    background: #931c40;
    max-width: max-content;
    margin-left: 20px;
    border-radius: 20px;
}
[class^="newMessagesBar_"],
[class^="jumpToPresentBar_"],
[class^="newTopicsBarContainer_"],
[class^="buttons_"]>[class^="buttonsInner_"]{
    background: #17171c;
    opacity: 1;
}
[class^="divider"]{
    border-top: thin solid #931c40;
    --divider-color: #931c40;
}
[class^="divider_"]>[class^="content_"]{
    background: #17171c;
    padding: 10px;
}
/*unread balls*/
[class^="containerDefault"]>[class^="iconVisibility"]>[class^="unread"]{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 14px;
    left: 8px;
    background: radial-gradient(#ff2f7f, #000000);
    z-index: 1;
}
[data-list-item-id^="channels"]>[class^="linkTop"]>[class^="iconContainer"]>[class^="icon"]{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 14px;
    left: 5px;
    background-color: rgb(46, 45, 45);
}
[data-list-item-id^="channels"]>[class^="linkTop"]>[class^="iconContainer"]>[class^="icon_"]>[d^="M"]{
    display: none;
}
/*name color fix*/
[class^="username"]{ 
	filter: contrast(.3) brightness(1.2) saturate(300%);
}
/*radial memberlist*/
[class^="memberInner_"]:has([mask="url(#svg-mask-status-online)"],[fill="#23a55a"])::before{
    position: absolute;
    content: "";
    margin-left: -3px;
    width: 38px;
    height: 38px;
    background: rgba(8, 156, 70, 0.61);
    border-radius: 30px;
}
[class^="memberInner_"]:has([mask="url(#svg-mask-status-dnd)"])::before{
    position: absolute;
    content: "";
    margin-left: -3px;
    width: 38px;
    height: 38px;
    background: rgba(242, 63, 66, 0.541);
    border-radius: 30px;
}
[class^="memberInner_"]:has([mask="url(#svg-mask-status-idle)"])::before{
    position: absolute;
    content: "";
    margin-left: -3px;
    width: 38px;
    height: 38px;
    background: rgba(240, 211, 50, 0.658);
    border-radius: 30px;
}
[class*="botTagOP_"],
[class^="newBadge_"]{
    color: white!important;
}
[class^="control_"]>[class^="container_"],
[class^="bar_"]>[class^="barFill_"]{
    background: #931c40!important;
}
