/**
* @name kot black
* @version 1
* @description kot black
* @author kot-pl
* @invite 0
* @source kot-pl.github.io/kot.css
*/
.theme-dark{
    --background-primary: #100f15;
    --background-secondary: #17171c;
    --background-secondary-alt: #17171c;
    --background-tertiary: #100f15;
    --background-floating: #17171c;
    --autocomplete-bg: #17171c;
    --channeltextarea-background: #17171c;
    --modal-background: #17171c;
    --card-secondary-bg: #17171c;
    --bg-mod-faint: #17171c;
    --bg-mod-strong: #85103362;
    --text-link: #e04d79;
    --text-positive:#e04d79; 
    --scrollbar-auto-thumb: #931c40;
    --scrollbar-thin-thumb: #931c40;
    --status-danger: #931c40;
    --mention-background: #931c40;
    --brand-15a: #931c40;
    --brand-260: #931c40;
    --brand-400: #931c40;
    --brand-500: #931c40;
    --brand-560: #931c4098;
    --brand-600: #931c40;
    --control-brand-foreground-new: #931c40;
    --badge-brand-text: white;
    --text-brand: #e04d79;
    --mention-foreground: white;
    --home-background: transparent;
    --scrollbar-auto-track: transparent;
    --shadow-ledge: transparent;
    --bg-base-primary: transparent;
    --modal-footer-background: transparent;
    --background-modifier-accent: transparent;
    --control-brand-foreground: #931c40;
    --background-accent: #931c40;
    --background-modifier-active: rgba(160, 46, 80, 0.6);
    --background-modifier-hover: rgba(160, 46, 80, 0.2);
    --background-modifier-selected: rgba(160, 46, 80, 0.6);
    --menu-item-default-active-bg: #931c4098;
    --primary-560: #931c40;
}
[class^="typeWindows_"][class*="withFrame_"]{
    height: 0;
}
[class^="wordmarkWindows_"],
[class*="mentioned_"]::before,
[class*="replying_"]::before,
[class^=hoverBarButton_]:has(>div>[class^="emoji"]),
[class^=hoverBarButton_]:has(>svg>[d^="M21.7 7.3a1"]),
[class^="buttonsInner_"]>[class^="separator_"],

[id="message-save-for-later-upsell"]{
    display: none;
}
[class^="markup_"] code{
    border: transparent;
}
[class^="typeWindows_"]>[class*="winButton"]{
    padding: 10px;
    margin-top: 5px;
}
[class^="upperContainer_"]>[class^="children_"]{
    -webkit-app-region: drag;
}
[class^="upperContainer_"]>[class^="toolbar_"],
[class^="chatIcon_"]{
    margin-right: 140px;
}
[class^="message_"]>[class^="contents_"],
[class^="message_"]>[id^="message-accessories-"]{
    background: #17171c;
    border-radius: 8px;
    width: fit-content;
    margin-top: 5px;
    padding: 10px!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
[class^="chat_"]>[class^="content_"]>[class^="container_"],
[class^="membersWrap_"]>[class^="members_"]{
    border-top-left-radius: 20px!important;
}
div[class^="sidebar_"]{
    border-radius: 0!important;
}
[id^="chat-messages-"]>[class^="message_"][class*="mentioned_"],
[id^="chat-messages-"]>[class^="message_"][class*="replying_"]{
    margin-left: 5px;
    background: linear-gradient(to left, rgba(138, 199, 40, 0),rgba(160, 46, 116, 0.2));
    border-radius: 20px;
}
[class^="newMessagesBar_"],
[class^="jumpToPresentBar_"],
[class^="newTopicsBarContainer_"],
[class^="buttons_"]>[class^="buttonsInner_"]{
    background: #17171c;
    opacity: 1;
}
[class^="scrollerInner_"]>[class^="divider"]{
    border-top: thin solid #931c40;
    --divider-color: #931c40;
}
[class^="scrollerInner_"]>[class^="divider_"]>[class^="content_"]{
    background: #17171c;
    padding: 10px;
}
/*unreadbar*/
[class^="unread"][class*="unreadImportant"]{
    height: 30px;
    width: 2px;
    top: 2px;
    left: 0;
    margin-top: 0px;
	background: #931c40;
}
/*name color fix*/
[class^="username"]{ 
	filter: contrast(.3) brightness(1.2) saturate(300%);
}
/*radial memberlist*/
[class^="childContainer_"]:has([fill="#23a55a"],[mask="url(#svg-mask-status-online)"]){
    background: linear-gradient(to left, rgba(138, 199, 40, 0),rgba(46, 160, 46, 0.2));
    border-radius: 20px;
}
[class^="childContainer_"]:has([fill="#f23f43"],[mask="url(#svg-mask-status-dnd)"]){
    background: linear-gradient(to left, rgba(138, 199, 40, 0),rgba(160, 46, 46, 0.2));
    border-radius: 20px;
}
[class^="childContainer_"]:has([fill="#593695"],[mask="url(#svg-mask-status-streaming)"]){
    background: linear-gradient(to left, rgba(138, 199, 40, 0),rgba(147, 46, 160, 0.2));
    border-radius: 20px;
}
[class^="childContainer_"]:has([fill="#f0b232"],[mask="url(#svg-mask-status-idle)"]){
    background: linear-gradient(to left, rgba(138, 199, 40, 0),rgba(160, 139, 46, 0.2));
    border-radius: 20px;
}
[class*="botTagOP_"],
[class^="appLauncherOnboardingCommandName_"],
[class^="newBadge_"],
[class^="titleBadge_"]{
    color: white!important;
}
[class^="control_"]>[class^="container_"],
[class^="bar_"]>[class^="barFill_"]{
    background: #931c40!important;
}
[class^="headerBar_"]>[class^="searchBar_"]{
    margin-right: 150px!important;
}
/*color channel and memberlist*/
[class^="membersGroup_"][class*="container_"],
[class^="name_"][class*="container"],
[class^="privateChannelsHeaderContainer_"],
[class^="peopleColumn_"]>[class^="sectionTitle_"]>[class^="title_"][class*="container_"]{
    color: #e04d79;
    text-transform: unset;
    font-size: 14px;
    margin-bottom: 5px;
}
