/**
* @name kot black
* @version 1
* @description kot black
* @author kot-pl
* @invite 0
* @source kot-pl.github.io/kot.css
*/
.theme-dark{
    --background-base-lower: var(--background-base-lowest);
    --background-base-low: var(--background-base-lowest);
}
body {
    background: url("https://i.imgur.com/B0k8tpd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#app-mount{
    opacity: 0.85
}
[class^="sidebarList_"]{
    border-start-start-radius: 0;
}
[data-list-id="guildsnav"] {
    transform: scale(1.2);
    height: calc(100% - 300px);
    top: 8%;
    padding-top: 4px;
    padding-bottom: 4px
}
[class^="svg_"]>foreignObject,
[class^="folderPreview_"]>[class^="icon_"]{
    border-radius: 20px;
}
[class^="listItem_"]>[class^=pill_] {
    margin-left: 6px
}
[class^="base_"]>[class^="content_"]{
    margin-top:var(--custom-guild-list-width)!important;
}
[class^="sidebar_"]>[class^="wrapper_"]{
    bottom: unset;
    height: calc(100vw - 25px);
    left: 10px;
    position: fixed;
    rotate: -90deg;
    transform-origin: top left;
}
[class^="listItem_"]>:nth-child(2){
    rotate: 90deg;
}
::-webkit-scrollbar-thumb{
    background: #505055!important;
    border-radius: 0!important;
}
