/**
* @name kot simple
* @version 1
* @description test
* @author kot-pl
* @invite 0
* @source kot-pl.github.io
*/
body{
    background-image: url(https://files.catbox.moe/p9rrmg.png);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.85;
}
.theme-dark{
    --primary-800: var(--background-secondary);
    --primary-660: var(--background-secondary);
    --background-accent: rgb(155, 97, 106);
    --background-mentioned: rgba(155, 97, 106, 0.247);
    --background-mentioned-hover: rgba(155, 97, 106, 0.247);
    --background-message-highlight: rgba(155, 97, 106, 0.247);
    --button-secondary-background: var(--brand-500);
    --button-secondary-background-hover: var(--brand-560);
    --button-secondary-background-active: var(--brand-600);
    --info-warning-foreground: var(--brand-500);
    --header-primary: rgb(155, 97, 106);
    --interactive-active: rgb(155, 97, 106);
    --text-brand: rgb(155, 97, 106);
    --text-link: rgb(226, 151, 162);
    --text-muted: rgb(155, 97, 106);
    --status-danger: rgb(194, 105, 119);
    --menu-item-default-active-bg: var(--background-modifier-selected);
    --menu-item-default-hover-bg: var(--background-modifier-hover);
    --mention-foreground: var(--text-normal);
    --mention-background: var(--brand-15a);
    --brand-260: white;
    --brand-400: rgb(194, 105, 119);
    --brand-15a: rgba(194, 105, 118, 0.43);
    --brand-500: rgb(155, 97, 106);
    --brand-560: rgba(194, 105, 118, 0.43);
    --brand-600: rgb(204, 113, 127);
    --control-brand-foreground-new: var(--brand-600);
    --text-positive: var(--brand-600);
}
[class*="footer"],
[class^="searchHeader_"],
[class^="messagesPopoutWrap_"]>[class^="header_"],
[class*="recentMentionsPopout_"]>[class^="header_"],
[class^="browser_"]>[class^="header_"],
[class^="focusLock_"]>[class^="root_"]>[class*="header_"],
[id="emoji-picker-tab-panel"]>[class^="wrapper_"],
[class^="rail_"],
[class^="rail_"]>[class^="wrapper_"],
[class^="queryContainer_"][class*="focused_"]{
    background: var(--background-secondary);
}
[class^="control_"]>[class^="container_"]{
    background: var(--brand-600)!important;
}
[d^="M7.89561"],
[d^="M4.08643"]{
    fill: var(--brand-600);
}
/*activity memberlist*/
div[data-list-item-id^="members-"]>div[class^="container_"],
h3[class^="membersGroup_"]:has([class^="headerContainer"]){
    display: none;
}
