/**
* @name kot simple
* @version 1
* @description test
* @author kot-pl
* @invite 0
* @source kot-pl.github.io
*/
.visual-refresh body {
    opacity: 0.85;
    background: url(https://files.catbox.moe/0qa67r.jpg)center/cover;
}
#app-mount{
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border: 2px solid rgb(82, 79, 81);
    border-radius: 20px;
}
.visual-refresh.theme-dark, .visual-refresh .theme-dark {
    --font-primary: "Segoe UI","Noto Sans", sans-serif;
    --popout: rgb(37, 31, 39);
    --color1: rgb(41, 56, 45);
    --color2: rgb(28, 37, 30);
    --border-subtle: transparent;
    --background-primary: var(--popout);
    --background-base-low: var(--popout);
    --bg-base-secondary: var(--popout);
    --background-base-lower: var(--popout);
    --bg-base-tertiary: var(--popout);
    --background-base-lowest: var(--popout);
    --chat-background-default: var(--popout);
}
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    background: unset;
    bottom: 0px;
    border-radius: 0px;
    border: none;
}
.visual-refresh div[class^="sidebar_"] nav[class^="wrapper_"] {
    margin-bottom: unset;
}
.visual-refresh ul[class^="tree_"] div[class^="listItem_"]{
    transform: scale(1.2);
    padding-top: 4px;
    padding-bottom: 4px;
}
.visual-refresh ul[class^="stack_"]{
    height: unset!important;
}
[id="guild-list-unread-dms"]{
    gap: 15px!important;
}
.visual-refresh div[role="treeitem"] img[class^="icon_"],
.visual-refresh div[role="treeitem"] div[class^="childWrapper_"],
.visual-refresh div[class^="folderPreview_"] div[class^="icon_"],
.visual-refresh div[class^="circleIconButton_"]{
    border-radius: 20px;
}
.visual-refresh div[class^="listItem_"] div[class^="pill_"]{
    margin-left: 6px;
}
.visual-refresh div[class*="systemBar_"]{
    margin-top: 10px;
    margin-right: 10px;
}
.visual-refresh div[class^="typing_"]{
    width: fit-content;
    margin-left: auto;
    top: -25px;
    font-size: 16px;
}
.visual-refresh div[class^="cooldownWrapper_"] div[data-text-variant="text-sm/medium"]{
    font-size: 16px;
}
.visual-refresh div[class^="channelTextArea_"]{
    margin-bottom: 1px;
    border-radius: 15px;
}
.visual-refresh main[class^="chatContent_"] form[class^="form_"]{
    margin-top: 10px;
}
.visual-refresh div[class^="scrollableContainer_"] div[class^="inner_"] div[class^="buttons_"]>:nth-child(1),
.visual-refresh div[class^="scrollableContainer_"] div[class^="inner_"] div[class^="buttons_"]>:nth-child(2),
.visual-refresh div[class^="scrollableContainer_"] div[class^="inner_"] div[class^="buttons_"]>:nth-child(3),
.visual-refresh div[class^="scrollableContainer_"] div[class^="inner_"] div[class^="buttons_"]>:nth-child(4),
.visual-refresh div[class^="buttons_"] div[class^="channelAppLauncher_"]{
    display: none;
}
.visual-refresh span[class^="username_"]{ 
	filter: contrast(.3) brightness(1.2) saturate(300%);
}
