/**
* @name kot test
* @version 1
* @description test
* @author kot-pl
* @invite 0
* @source kot-pl.github.io
*/
body {
    background-image: url(https://w.wallhaven.cc/full/5g/wallhaven-5gxyo1.jpg);
    background-size: cover;
    text-rendering: optimizeSpeed;
    opacity: 0.85;
}
:root{
    --primary-600: hsl(10, 20%, 10%);
    --primary-630: hsl(10, 20%, 10%);
    --primary-660: hsl(10, 20%, 10%);
    --primary-700: hsl(10, 20%, 10%);
    --primary-800: hsl(10, 20%, 10%);
    --home-background:hsl(10, 20%, 10%);
}
