/**
* @name kot test1
* @version 1
* @description test1
* @author kot-pl
* @invite 0
* @source kot-pl.github.io
*/
#app-mount{
    opacity: 0.85;
}
body{
    background: url(https://files.catbox.moe/p9rrmg.png);
    background-size: cover;
    background-position: center;
}
.theme-dark{
    --background-secondary-alt: var(--primary-630);
    --background-floating: var(--primary-630);
}
