@import "https://fonts.googleapis.com/css2?family=Mooli&display=swap";
body {
	background-image: var(--bg) !important;
    background-repeat: none;
    background-position: center;
	background-size: cover;
}
#app-mount {
    opacity: 0.85;
	display: transparent;
} 
.theme-dark {
    /* 
    https://www.reddit.com/r/oneshot/comments/ghzwj1/made_my_own_version_of_the_wallpaper_from_the/ 
    */
    --bg: url(https://w.wallhaven.cc/full/r7/wallhaven-r7587j.jpg);
    --background-primary: #111111;
    --background-secondary: #202020;
    --background-secondary-alt: #202020;
    --background-tertiary: #212121;
	--background-message-hover: #222222;
	--background-floating: #202020;
	--modal-background: #202020;
	--modal-footer-background: #202020;
	--autocomplete-bg: #202020;
    --bg-base-primary: #111111;
	--custom-channel-members-bg: #111111;
    --home-background: #111111;
	--font-primary: "Mooli";
    --font-display: "Mooli";
    --font-headline: "Mooli";
}

div[class^="hoverBarButton_"][aria-label^="Click to react"],
div[class^="hoverBarButton_"][aria-label^="Click to remove"],
div[class^="buttonsInner_"]>[class^="separator_"]{
    display: none;
}

h3[class^="membersGroup_"]:has([class^="headerContainer_"]),
div[data-list-item-id^="members-"]>[class^="container_"]{
    display: none;
}
